@import url("http;//fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.home .home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.home .home__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.home .home__intro {
  position: absolute;
  color: white;
  z-index: 3;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background: rgba(0, 0, 0, 0.304);
  padding: 120px 10px 0 30px;
  width: 60vh;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.home .home__intro .home__title {
  font-size: 6rem;
  margin-bottom: 11px;
}

.home .home__intro .home__title span {
  color: #b3790d;
}

.home .home__intro .home__subtitle {
  font-size: 1.6rem;
  margin-bottom: 7px;
}

.home .home__intro .home__subtitle span {
  color: #b3790d;
}

.home .home__intro .home__description {
  margin-bottom: 11px;
  width: 300px;
  text-align: justify;
}

.home .home__intro .home__contact {
  margin-top: 25px;
}

.home .home__intro .home__contact .home__link {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.304);
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.home .home__intro .home__contact .home__link:hover {
  background: rgba(179, 121, 13, 0.626);
  color: white;
}

.logo {
  position: relative;
  top: 800px;
  height: 26vh;
}

.logo .logo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 30px;
  font-size: 1.7rem;
  margin: 0 0 28px 15px;
}

.logo .logo__description span {
  color: #b3790d;
  margin: 0 10px 0 10px;
}

.logo .logo__group {
  position: relative;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo .logo__group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo .logo__group ul .logol {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 30px;
}

.showcase {
  background: whitesmoke;
  padding: 20px 50px 50px 0;
  position: relative;
  top: 900px;
  height: 250vh;
}

.showcase .showcase__titles {
  position: relative;
  top: 20px;
  left: 40px;
}

.showcase .showcase__titles .showcase__title {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.showcase .showcase__titles .showcase__title span {
  color: #b3790d;
}

.showcase .showcase__titles .showcase__subtitle {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
}

.showcase .showcase__menu {
  position: relative;
  top: 50px;
}

.showcase .showcase__menu .row1,
.showcase .showcase__menu .row2,
.showcase .showcase__menu .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 0 0px;
}

.showcase .showcase__menu .row1 .card,
.showcase .showcase__menu .row2 .card,
.showcase .showcase__menu .row3 .card {
  border-left: 1px solid rgba(0, 0, 0, 0.304);
  border-right: 1px solid rgba(0, 0, 0, 0.304);
  border-bottom: 1px solid rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  margin: 40px 0 40px 25px;
  -webkit-box-shadow: -1px 1px 1.5px rgba(0, 0, 0, 0.304);
          box-shadow: -1px 1px 1.5px rgba(0, 0, 0, 0.304);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 250px;
  height: 330px;
}

.showcase .showcase__menu .row1 .card img,
.showcase .showcase__menu .row2 .card img,
.showcase .showcase__menu .row3 .card img {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.showcase .showcase__menu .row1 .card .description,
.showcase .showcase__menu .row2 .card .description,
.showcase .showcase__menu .row3 .card .description {
  text-align: justify;
}

.showcase .showcase__menu .row1 .card .description .short__descriptions,
.showcase .showcase__menu .row2 .card .description .short__descriptions,
.showcase .showcase__menu .row3 .card .description .short__descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase__menu .row1 .card .description .short__descriptions .name,
.showcase .showcase__menu .row2 .card .description .short__descriptions .name,
.showcase .showcase__menu .row3 .card .description .short__descriptions .name {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 10px 10px 10px;
  text-transform: capitalize;
}

.showcase .showcase__menu .row1 .card .description .short__descriptions .price,
.showcase .showcase__menu .row2 .card .description .short__descriptions .price,
.showcase .showcase__menu .row3 .card .description .short__descriptions .price {
  color: #b3790d;
}

.showcase .showcase__menu .row1 .card .description .subtitle,
.showcase .showcase__menu .row2 .card .description .subtitle,
.showcase .showcase__menu .row3 .card .description .subtitle {
  font-size: 0.98rem;
  margin: 0 0 20px 10px;
}

.showcase .showcase__menu .row1 .card:hover,
.showcase .showcase__menu .row2 .card:hover,
.showcase .showcase__menu .row3 .card:hover {
  background: black;
  color: #b3790d;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.showcase .showcase__menu .row1 .card:hover .price,
.showcase .showcase__menu .row2 .card:hover .price,
.showcase .showcase__menu .row3 .card:hover .price {
  color: white;
}

.showcase .showcase__more-info {
  margin: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase .showcase__more-info .showcase__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.845);
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.showcase .showcase__more-info .showcase__link i {
  margin: 0 7px 0 0;
}

.showcase .showcase__more-info .showcase__link:hover {
  background: #b3790d;
  color: white;
}

.testimonial {
  position: relative;
  top: 902px;
  height: 50vh;
  background: black;
  color: white;
}

.testimonial .testimonialz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 40px;
}

.testimonial .testimonialz .testimonial__img img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 50px 0 0;
}

.testimonial .testimonialz .testimonial__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial .testimonialz .testimonial__text .testimony {
  font-size: 1.25rem;
  text-align: justify;
  margin: 0 0 20px 0;
}

.testimonial .testimonialz .testimonial__text .testimonial__person {
  font-weight: 900;
  color: #b3790d;
}

.contact {
  position: relative;
  top: 902px;
}

.contact .contact__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact__section .contact__left {
  position: relative;
  margin-top: 80px;
  left: 80px;
}

.contact .contact__section .contact__left .contact__titles {
  position: relative;
  top: 20px;
  left: 40px;
}

.contact .contact__section .contact__left .contact__titles .contact__title {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.contact .contact__section .contact__left .contact__titles .contact__title span {
  color: #b3790d;
}

.contact .contact__section .contact__left .contact__titles .contact__subtitle {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
}

.contact .contact__section .contact__left .contact__form {
  margin-top: 140px;
}

.contact .contact__section .contact__left .contact__form span {
  position: relative;
  background: rgba(0, 0, 0, 0.742);
  border-radius: 50%;
  padding: 19px;
  color: white;
  margin-left: 1rem;
  left: 80px;
  bottom: 30px;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.304);
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.304);
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact .contact__section .contact__left .contact__form span:hover {
  background-color: #b3790d;
  color: white;
}

.contact .contact__section .contact__left .contact__form .contact__first-batch {
  position: relative;
  margin: 4.5rem 0;
}

.contact .contact__section .contact__left .contact__form .contact__first-batch .contact__one {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.contact .contact__section .contact__left .contact__form .contact__first-batch .contact__two {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.contact .contact__section .contact__left .contact__form .contact__first-batch .contact__three {
  display: inline-block;
}

.contact .contact__section .contact__left .contact__form .contact__second-batch {
  position: relative;
  top: -127px;
  left: 75px;
}

.contact .contact__section .contact__left .contact__form .contact__second-batch .contact__four {
  display: inline-block;
  margin-right: 5px;
}

.contact .contact__section .contact__right img {
  height: 100vh;
  width: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 878px;
  background: rgba(0, 0, 0, 0.872);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 25px;
}

.footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.footer .footer__text .footer__logo {
  margin-right: 10px;
  margin-left: 40px;
  cursor: pointer;
}

.footer .footer__text .footer__logo span {
  color: #b3790d;
}

.footer .footer__text .footer__developer-name:hover {
  color: #b3790d;
  cursor: pointer;
}

.footer .footer__links {
  margin-right: 40px;
}

.footer .footer__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__links .footer__link {
  margin: 20px 10px 10px 20px;
  color: white;
}

.footer .footer__links .footer__link:hover {
  color: #b3790d;
  cursor: pointer;
}

@media all and (max-width: 1029px) {
  .home .home__intro .home__title {
    font-size: 4.2rem;
  }
  .home .home__intro .home__subtitle {
    font-size: 1.2rem;
  }
  .home .home__intro .home__description {
    width: 250px;
    font-size: 0.9rem;
  }
  .logo .logo__description {
    font-size: 1.4rem;
    margin: 0 0 28px 0;
  }
  .logo .logo__group ul .logol {
    width: 130px;
    height: 130px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 30px;
  }
  .showcase {
    padding: 20px 0 30px 0;
    height: 100vh;
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
  }
  .showcase .showcase__titles {
    position: relative;
    left: 0;
    margin: 0 0 0 40px;
  }
  .showcase .showcase__menu {
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .showcase .showcase__menu .row1,
  .showcase .showcase__menu .row2,
  .showcase .showcase__menu .row3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .showcase .showcase__menu .row1 .card,
  .showcase .showcase__menu .row2 .card,
  .showcase .showcase__menu .row3 .card {
    margin: 40px 15px 0 15px;
    width: 225px;
    height: 330px;
  }
  .showcase .showcase__menu .row1 .card img,
  .showcase .showcase__menu .row2 .card img,
  .showcase .showcase__menu .row3 .card img {
    width: 225px;
    height: 175px;
  }
  .showcase .showcase__menu .row1 .card .description .short__descriptions .name,
  .showcase .showcase__menu .row2 .card .description .short__descriptions .name,
  .showcase .showcase__menu .row3 .card .description .short__descriptions .name {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .showcase .showcase__menu .row1 .card .description .subtitle,
  .showcase .showcase__menu .row2 .card .description .subtitle,
  .showcase .showcase__menu .row3 .card .description .subtitle {
    font-size: 0.95rem;
  }
  .showcase .showcase__menu::-webkit-scrollbar {
    display: none;
  }
  .showcase .showcase__menu {
    -ms-overflow-style: none;
    /*IE and Edge */
    scrollbar-width: none;
    /* Firefox*/
  }
  .contact .contact__section .contact__right img {
    height: 100vh;
    width: 530px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media all and (max-width: 770px) {
  .home .home__intro .home__title {
    font-size: 3.8rem;
  }
  .home .home__intro .home__subtitle {
    font-size: 1.02rem;
  }
  .home .home__intro .home__description {
    width: 170px;
    font-size: 0.83rem;
  }
  .logo .logo__description {
    font-size: 1.4rem;
    margin: 0 0 28px 0;
  }
  .logo .logo__group ul .logol {
    width: 110px;
    height: 110px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 30px;
  }
  .contact .contact__section .contact__left {
    position: relative;
    left: 20px;
  }
  .contact .contact__section .contact__right img {
    height: 100vh;
    width: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__text {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
  }
  .footer .footer__links {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 700px) {
  .home .home__intro {
    background: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    padding: 120px 0 0 10px;
    width: 60vh;
  }
  .home .home__intro .home__title {
    font-size: 3rem;
  }
  .home .home__intro .home__subtitle {
    font-size: 1.15rem;
    margin-bottom: -11px;
  }
  .home .home__intro .home__description {
    font-size: 0.8rem;
  }
  .logo .logo__description {
    font-size: 1.2rem;
    margin: 0 0 28px 0;
  }
  .logo .logo__group ul .logol {
    width: 65px;
    height: 65px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 20px;
  }
  .showcase .showcase__titles .showcase__title {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
  }
  .showcase .showcase__titles .showcase__subtitle {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
  }
  .showcase .showcase__menu .card {
    margin: 40px 15px 0 15px;
    width: 200px;
    height: 330px;
  }
  .showcase .showcase__menu .card img {
    width: 200px;
    height: 150px;
  }
  .showcase .showcase__more-info .showcase__link {
    padding: 12px;
  }
  .testimonial {
    height: 60vh;
  }
  .testimonial .testimonialz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial .testimonialz .testimonial__img img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin: 0 50px 0 0;
    margin: 0 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
  }
  .testimonial .testimonialz .testimonial__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial .testimonialz .testimonial__text .testimony {
    font-size: 1.21rem;
    text-align: justify;
    margin: 0 0 20px 0;
  }
  .testimonial .testimonialz .testimonial__text .testimonial__person {
    font-weight: 900;
    color: #b3790d;
  }
  .contact .contact__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .contact__section .contact__left {
    position: relative;
    margin-top: 80px;
    left: 0;
    margin-left: 30px;
  }
  .contact .contact__section .contact__left .contact__titles {
    position: relative;
    left: 0;
  }
  .contact .contact__section .contact__left .contact__form {
    margin-top: 140px;
  }
  .contact .contact__section .contact__left .contact__form span {
    left: 0;
  }
  .contact .contact__section .contact__left .contact__form .contact__second-batch {
    position: relative;
    top: -127px;
    left: 0;
    margin-left: 75px;
  }
  .contact .contact__section .contact__right img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .footer .footer__links {
    margin-right: 40px;
  }
  .footer .footer__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 380px) {
  .logo .logo__description {
    font-size: 1.2rem;
    margin: 0 0 28px 0;
  }
  .logo .logo__group {
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
  }
  .logo .logo__group ul {
    overflow: scroll;
  }
  .logo .logo__group ul .logol {
    width: 65px;
    height: 65px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 20px;
  }
  .logo .logo__group ul::-webkit-scrollbar {
    display: none;
  }
  .logo .logo__group ul {
    -ms-overflow-style: none;
    /*IE and Edge */
    scrollbar-width: none;
    /* Firefox*/
  }
}

@media all and (max-width: 380px) {
  .home .home__intro .home__title {
    font-size: 2.5rem;
  }
  .home .home__intro .home__subtitle {
    font-size: 0.9rem;
  }
  .home .home__intro .home__description {
    font-size: 0.75rem;
  }
  .logo .logo__description {
    font-size: 1.1rem;
  }
  .logo .logo__group ul .logol {
    width: 80px;
    height: 80px;
    margin: 0 25px;
  }
  .showcase .showcase__titles {
    margin: 0 0 0 20px;
  }
  .showcase .showcase__titles .showcase__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 10px 0;
  }
  .showcase .showcase__titles .showcase__subtitle {
    font-size: 1rem;
    margin: 0 0 10px 0;
  }
  .showcase .showcase__menu .card {
    margin: 40px 15px 0 15px;
    width: 130px;
    height: 300px;
  }
  .showcase .showcase__menu .card img {
    width: 130px;
    height: 80px;
  }
  .testimonial .testimonialz .testimonial__text .testimony {
    font-size: 1rem;
  }
  .contact .contact__section .contact__left .contact__titles .contact__title {
    font-size: 1.5rem;
    font-size: 700;
  }
  .navbar .max-width {
    margin: 0 40px;
  }
  .navbar .max-width .navbar__contact {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=styles.css.map */