// COMMON ATTRIBUTES
$common_color: rgb(179, 121, 13);
$hover_color: rgba(179, 121, 13, 0.626);
$black_color: rgba(0, 0, 0, 0.304);
$text_color: rgba(0, 0, 0, 0.845);

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
