// FOOTER

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 878px;
  background: rgba(0, 0, 0, 0.872);
  backdrop-filter: blur(15px);
  padding: 25px;

  .footer__text {
    display: flex;
    color: white;

    .footer__logo {
      margin-right: 10px;
      margin-left: 40px;
      cursor: pointer;

      span {
        color: $common_color;
      }
    }

    .footer__developer-name:hover {
      color: $common_color;
      cursor: pointer;
    }
  }

  .footer__links {
    margin-right: 40px;
    ul {
      display: flex;
    }

    .footer__link {
      margin: 20px 10px 10px 20px;
      color: white;
    }

    .footer__link:hover {
      color: $common_color;
      cursor: pointer;
    }
  }
}
