// LOGO STYLING

.logo {
  position: relative;
  top: 658px;
  height: 10vh;

  .logo__description {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    font-size: 1.7rem;
    margin: 0 0 28px 15px;

    span {
      color: $common_color;
      margin: 0 10px 0 10px;
    }
  }

  .logo__group {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    ul {
      display: flex;

      .logol {
        width: 150px;
        height: 150px;
        object-fit: contain;
        margin: 0 30px;
      }
    }
  }
}
