// NAV BAR STYLING

.navbar {
  position: fixed;
  background: $black_color;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;

  .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;

    .navbar__logo {
      a {
        color: $common_color;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }

    .navbar__contact {
      color: white;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .navbar__contact:hover {
      color: $common_color;
    }
  }
}
