// SHOWCASE STYLING

.showcase {
  background: whitesmoke;
  padding: 20px 50px 50px 0;
  position: relative;
  top: 900px;
  height: 250vh;

  .showcase__titles {
    position: relative;
    top: 20px;
    left: 40px;
    .showcase__title {
      font-size: 2rem;
      margin: 0 0 10px 0;

      span {
        color: $common_color;
      }
    }

    .showcase__subtitle {
      font-size: 1.1rem;
      margin: 0 0 10px 0;
    }
  }

  .showcase__menu {
    position: relative;
    top: 50px;

    .row1,
    .row2,
    .row3 {
      display: flex;
      justify-content: center;
      margin: 20px 0px 0 0px;

      .card {
        border-left: 1px solid $black_color;
        border-right: 1px solid $black_color;
        border-bottom: 1px solid $black_color;
        border-radius: 10px;
        margin: 40px 0 40px 25px;
        box-shadow: -1px 1px 1.5px $black_color;
        transition: all 0.2s;
        width: 250px;
        height: 330px;

        img {
          width: 250px;
          height: 200px;
          object-fit: cover;
          margin-top: 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .description {
          text-align: justify;

          .short__descriptions {
            display: flex;
            align-items: center;

            .name {
              font-size: 1.3rem;
              font-weight: 600;
              margin: 10px 10px 10px 10px;
              text-transform: capitalize;
            }

            .price {
              color: $common_color;
            }
          }

          .subtitle {
            font-size: 0.98rem;
            margin: 0 0 20px 10px;
          }
        }
      }

      .card:hover {
        background: black;
        color: $common_color;
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: none;

        .price {
          color: white;
        }
      }
    }
  }

  .showcase__more-info {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;

    .showcase__link {
      display: flex;
      align-items: center;
      color: white;
      background: $text_color;
      cursor: pointer;
      border: none;
      border-radius: 7px;
      padding: 15px;
      transition: all 0.2s;

      i {
        margin: 0 7px 0 0;
      }
    }

    .showcase__link:hover {
      background: $common_color;
      color: white;
    }
  }
}
