// TESTIMONIAL

.testimonial {
  position: relative;
  top: 902px;
  height: 50vh;
  background: black;
  color: white;

  .testimonialz {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;

    .testimonial__img {
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 50px 0 0;
      }
    }

    .testimonial__text {
      display: flex;
      flex-direction: column;

      .testimony {
        font-size: 1.25rem;
        text-align: justify;
        margin: 0 0 20px 0;
      }

      .testimonial__person {
        font-weight: 900;
        color: $common_color;
      }
    }
  }
}
