@import url("http;//fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

// COMMON ATTRIBUTES
$common_color: rgb(179, 121, 13);
$hover_color: rgba(179, 121, 13, 0.626);
$black_color: rgba(0, 0, 0, 0.304);
$BG_color: rgba(0, 0, 0, 0.845);

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

// NAV BAR STYLING

.navbar {
  position: fixed;
  background: $black_color;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;

  .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;

    .navbar__logo {
      a {
        color: $common_color;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }

    .navbar__contact {
      color: white;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .navbar__contact:hover {
      color: $common_color;
    }
  }
}

// HOME STYLING
.home {
  .home__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
  }

  .home__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
  }

  .home__intro {
    position: absolute;
    color: white;
    z-index: 3;
    max-width: 30%;
    display: flex;
    flex-flow: column wrap;
    background: $black_color;
    padding: 120px 10px 0 30px;
    width: 60vh;
    height: 100vh;
    backdrop-filter: blur(10px);
    // rgba(255, 175, 27, 0.667)

    .home__title {
      font-size: 6rem;
      margin-bottom: 11px;

      span {
        color: $common_color;
      }
    }

    .home__subtitle {
      font-size: 1.6rem;
      margin-bottom: 7px;

      span {
        color: $common_color;
      }
    }

    .home__description {
      margin-bottom: 11px;
      width: 300px;
      text-align: justify;
    }

    .home__contact {
      margin-top: 25px;

      .home__link {
        text-decoration: none;
        background: $black_color;
        padding: 12px;
        border: none;
        border-radius: 5px;
        color: white;
        transition: all 0.2s;
      }

      .home__link:hover {
        background: $hover_color;
        color: white;
      }
    }
  }
}

// LOGO STYLING

.logo {
  position: relative;
  top: 800px;
  height: 26vh;

  .logo__description {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    font-size: 1.7rem;
    margin: 0 0 28px 15px;

    span {
      color: $common_color;
      margin: 0 10px 0 10px;
    }
  }

  .logo__group {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    ul {
      display: flex;

      .logol {
        width: 150px;
        height: 150px;
        object-fit: contain;
        margin: 0 30px;
      }
    }
  }
}

// SHOWCASE STYLING

.showcase {
  background: whitesmoke;
  padding: 20px 50px 50px 0;
  position: relative;
  top: 900px;
  height: 250vh;

  .showcase__titles {
    position: relative;
    top: 20px;
    margin-left: 40px;
    .showcase__title {
      font-size: 2rem;
      margin: 0 0 10px 0;

      span {
        color: $common_color;
      }
    }

    .showcase__subtitle {
      font-size: 1.1rem;
      margin: 0 0 10px 0;
    }
  }

  .showcase__menu {
    position: relative;
    top: 50px;

    .row1,
    .row2,
    .row3 {
      display: flex;
      justify-content: center;
      margin: 20px 0px 0 0px;

      .card {
        border-left: 1px solid $black_color;
        border-right: 1px solid $black_color;
        border-bottom: 1px solid $black_color;
        border-radius: 10px;
        margin: 40px 0 40px 25px;
        box-shadow: -1px 1px 1.5px $black_color;
        transition: all 0.2s;
        width: 250px;
        height: 330px;

        img {
          width: 250px;
          height: 200px;
          object-fit: cover;
          margin-top: 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .description {
          text-align: justify;

          .short__descriptions {
            display: flex;
            align-items: center;

            .name {
              font-size: 1.3rem;
              font-weight: 600;
              margin: 10px 10px 10px 10px;
              text-transform: capitalize;
            }

            .price {
              color: $common_color;
            }
          }

          .subtitle {
            font-size: 0.98rem;
            margin: 0 0 20px 10px;
          }
        }
      }

      .card:hover {
        background: black;
        color: $common_color;
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: none;

        .price {
          color: white;
        }
      }
    }
  }

  .showcase__more-info {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;

    .showcase__link {
      display: flex;
      align-items: center;
      color: white;
      background: $BG_color;
      cursor: pointer;
      border: none;
      border-radius: 7px;
      padding: 15px;
      transition: all 0.2s;

      i {
        margin: 0 7px 0 0;
      }
    }

    .showcase__link:hover {
      background: $common_color;
      color: white;
    }
  }
}

// TESTIMONIAL STYLING

.testimonial {
  position: relative;
  top: 902px;
  height: 50vh;
  background: black;
  color: white;

  .testimonialz {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;

    .testimonial__img {
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 50px 0 0;
      }
    }

    .testimonial__text {
      display: flex;
      flex-direction: column;

      .testimony {
        font-size: 1.25rem;
        text-align: justify;
        margin: 0 0 20px 0;
      }

      .testimonial__person {
        font-weight: 900;
        color: $common_color;
      }
    }
  }
}

// CONTACT STYLING

.contact {
  position: relative;
  top: 902px;

  .contact__section {
    display: flex;
    justify-content: space-between;

    .contact__left {
      position: relative;
      margin-top: 80px;
      margin-left: 80px;

      .contact__titles {
        position: relative;
        top: 20px;
        margin-left: 40px;
        .contact__title {
          font-size: 2rem;
          margin: 0 0 10px 0;

          span {
            color: $common_color;
          }
        }

        .contact__subtitle {
          font-size: 1.1rem;
          margin: 0 0 10px 0;
        }
      }

      .contact__form {
        margin-top: 140px;
        margin-left: 80px;

        span {
          position: relative;
          background: rgba(0, 0, 0, 0.742);
          border-radius: 50%;
          padding: 19px;
          color: white;
          margin-left: 1rem;
          bottom: 30px;
          box-shadow: -1px 1px 1px $black_color;
          cursor: pointer;
          transition: all 0.4s ease;
        }

        span:hover {
          background-color: $common_color;
          color: white;
        }

        .contact__first-batch {
          position: relative;
          margin: 4.5rem 0;

          .contact__one {
            display: inline-block;
            margin-bottom: 2.5rem;
          }

          .contact__two {
            display: inline-block;
            margin-bottom: 2.5rem;
          }

          .contact__three {
            display: inline-block;
          }
        }

        .contact__second-batch {
          position: relative;
          top: -127px;
          margin-left: 75px;

          .contact__four {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    .contact__right {
      img {
        height: 100vh;
        width: 800px;
        object-fit: cover;
      }
    }
  }
}

// FOOTER STYLING

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 878px;
  background: rgba(0, 0, 0, 0.872);
  backdrop-filter: blur(15px);
  padding: 25px;

  .footer__text {
    display: flex;
    color: white;

    .footer__logo {
      margin-right: 10px;
      margin-left: 40px;
      cursor: pointer;

      span {
        color: $common_color;
      }
    }

    .footer__developer-name:hover {
      color: $common_color;
      cursor: pointer;
    }
  }

  .footer__links {
    margin-right: 40px;
    ul {
      display: flex;
    }

    .footer__link {
      margin: 20px 10px 10px 20px;
      color: white;
    }

    .footer__link:hover {
      color: $common_color;
      cursor: pointer;
    }
  }
}

// MEDIA QUERIES
@media all and (max-width: 1029px) {
  // MEDIA QUERIES-- HOME

  .home {
    .home__intro {
      .home__title {
        font-size: 4.2rem;
      }

      .home__subtitle {
        font-size: 1.2rem;
      }

      .home__description {
        width: 250px;
        font-size: 0.9rem;
      }
    }
  }

  // LOGO

  .logo {
    .logo__description {
      font-size: 1.4rem;
      margin: 0 0 28px 0;
    }

    .logo__group {
      ul {
        .logol {
          width: 130px;
          height: 130px;
          object-fit: contain;
          margin: 0 30px;
        }
      }
    }
  }

  // SHOWCASE

  .showcase {
    padding: 20px 0 30px 0;
    height: 100vh;

    .showcase__titles {
      position: relative;
      left: 0;
      margin: 0 0 0 40px;
    }

    .showcase__menu {
      overflow: scroll;
      display: flex;
      flex-direction: row;

      .row1,
      .row2,
      .row3 {
        display: flex;
        justify-content: flex-end;

        .card {
          margin: 40px 15px 0 15px;
          width: 225px;
          height: 330px;

          img {
            width: 225px;
            height: 175px;
          }

          .description {
            .short__descriptions {
              .name {
                font-size: 1.2rem;
                font-weight: 600;
              }
            }

            .subtitle {
              font-size: 0.95rem;
            }
          }
        }
      }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .showcase__menu::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .showcase__menu {
      -ms-overflow-style: none; /*IE and Edge */
      scrollbar-width: none; /* Firefox*/
    }
  }

  // CONTACT

  .contact {
    .contact__section {
      .contact__right {
        img {
          height: 100vh;
          width: 530px;
          object-fit: cover;
        }
      }
    }
  }
}

@media all and (max-width: 770px) {
  // MEDIA QUERIES-- HOME

  .home {
    .home__intro {
      .home__title {
        font-size: 3.8rem;
      }

      .home__subtitle {
        font-size: 1.02rem;
      }

      .home__description {
        width: 170px;
        font-size: 0.83rem;
      }
    }
  }

  // LOGO

  .logo {
    .logo__description {
      font-size: 1.4rem;
      margin: 0 0 28px 0;
    }

    .logo__group {
      ul {
        .logol {
          width: 110px;
          height: 110px;
          object-fit: contain;
          margin: 0 30px;
        }
      }
    }
  }

  // CONTACT

  .contact {
    .contact__section {
      .contact__left {
        position: relative;
        margin-left: 20px;
      }

      .contact__right {
        img {
          height: 100vh;
          width: 330px;
          object-fit: cover;
        }
      }
    }
  }

  // FOOTER

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .footer__text {
      font-size: 1.2rem;
      margin: 0 0 20px 0;
    }

    .footer__links {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 700px) {
  // MEDIA QUERIES-- HOME

  .home {
    .home__intro {
      background: none;
      backdrop-filter: none;
      padding: 120px 0 0 10px;
      width: 60vh;
      .home__title {
        font-size: 3rem;
      }

      .home__subtitle {
        font-size: 1.15rem;
        margin-bottom: -11px;
      }

      .home__description {
        font-size: 0.8rem;
      }
    }
  }

  // LOGO

  .logo {
    .logo__description {
      font-size: 1.2rem;
      margin: 0 0 28px 0;
    }

    .logo__group {
      ul {
        .logol {
          width: 65px;
          height: 65px;
          object-fit: contain;
          margin: 0 20px;
        }
      }
    }
  }

  // SHOWCASE

  .showcase {
    .showcase__titles {
      .showcase__title {
        font-size: 1.5rem;
        margin: 0 0 10px 0;
      }

      .showcase__subtitle {
        font-size: 1.1rem;
        margin: 0 0 10px 0;
      }
    }
    .showcase__menu {
      .card {
        margin: 40px 15px 0 15px;
        width: 200px;
        height: 330px;

        img {
          width: 200px;
          height: 150px;
        }
      }
    }

    .showcase__more-info {
      .showcase__link {
        padding: 12px;
      }
    }
  }

  // TESTIMONIAL

  .testimonial {
    height: 60vh;

    .testimonialz {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .testimonial__img {
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          margin: 0 50px 0 0;
          margin: 0 0 10px 0;
          display: flex;
          justify-self: center;
        }
      }

      .testimonial__text {
        display: flex;
        flex-direction: column;

        .testimony {
          font-size: 1.21rem;
          text-align: justify;
          margin: 0 0 20px 0;
        }

        .testimonial__person {
          font-weight: 900;
          color: $common_color;
        }
      }
    }
  }

  // CONTACT

  .contact {
    .contact__section {
      display: flex;
      flex-direction: column-reverse;

      .contact__left {
        position: relative;
        margin-top: 80px;
        // left: 0;
        margin-left: 30px;

        .contact__titles {
          position: relative;
          // left: 0;
        }

        .contact__form {
          margin-top: 140px;

          span {
            // left: 0;
          }

          .contact__second-batch {
            position: relative;
            top: -127px;
            // left: 0;
            margin-left: 75px;
          }
        }
      }

      .contact__right {
        img {
          height: 100vh;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // FOOTER

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__text {
      display: flex;
      flex-direction: column;
      color: white;
    }

    .footer__links {
      margin-right: 40px;
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media all and (max-width: 380px) {
  // LOGO

  .logo {
    .logo__description {
      font-size: 1.2rem;
      margin: 0 0 28px 0;
    }

    .logo__group {
      ul {
        overflow: scroll;

        .logol {
          width: 65px;
          height: 65px;
          object-fit: contain;
          margin: 0 20px;
        }
      }

      /* Hide scrollbar for Chrome, Safari and Opera */
      ul::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      ul {
        -ms-overflow-style: none; /*IE and Edge */
        scrollbar-width: none; /* Firefox*/
      }
    }
  }
}

@media all and (max-width: 380px) {
  // MEDIA QUERIES-- HOME

  .home {
    .home__intro {
      .home__title {
        font-size: 2.5rem;
      }

      .home__subtitle {
        font-size: 0.9rem;
      }

      .home__description {
        font-size: 0.75rem;
      }
    }
  }

  // LOGO

  .logo {
    .logo__description {
      font-size: 1.1rem;
    }

    .logo__group {
      ul {
        .logol {
          width: 80px;
          height: 80px;
          margin: 0 25px;
        }
      }
    }
  }

  // SHOWCASE

  .showcase {
    .showcase__titles {
      margin: 0 0 0 20px;

      .showcase__title {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0 0 10px 0;
      }

      .showcase__subtitle {
        font-size: 1rem;
        margin: 0 0 10px 0;
      }
    }
    .showcase__menu {
      .card {
        margin: 40px 15px 0 15px;
        width: 130px;
        height: 300px;

        img {
          width: 130px;
          height: 80px;
        }
      }
    }
  }

  // TESTIMONIAL

  .testimonial {
    .testimonialz {
      .testimonial__text {
        .testimony {
          font-size: 1rem;
        }
      }
    }
  }

  // CONTACT

  .contact {
    .contact__section {
      .contact__left {
        .contact__titles {
          .contact__title {
            font-size: 1.5rem;
            font-size: 700;
          }
        }
      }
    }
  }

  // NAV BAR

  .navbar {
    .max-width {
      margin: 0 40px;

      .navbar__contact {
        font-size: 0.8rem;
      }
    }
  }
}
